name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2.7.0
    - name: Build
      run: cargo build
    - name: Run tests
      run: cargo test

  miri:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
        - norn-nursery
        - norn-task
        - norn-executor

    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: miri,rust-src
    - uses: Swatinem/rust-cache@v2.7.0
      with:
        shared-key: miri-nightly
    - name: Run Miri (${{ matrix.package }})
      run: cargo +nightly miri test -p ${{ matrix.package }}
